{%extends 'base.html'%}
{%load crispy_forms_tags %}

{% block title %} Password change{%endblock%}

{% block style %}
<style>
    .register{
        width:500px;
        margin:auto;
    }
</style>
{%endblock%}

{%block content %}
<div class="container register">
    <h3>Chnage your password</h3>

    <form action="" method="POST" novalidate>
        {{form | crispy}}
        {% csrf_token %}
        <input type="submit" value="Change Password" class="btn btn-success">
    </form>

</div>
{%endblock%}